@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(34,159,195);
  background: linear-gradient(0deg, rgba(34,159,195,1) 0%, rgba(45,63,253,1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply m-0 flex items-center justify-center min-w-[320px] min-h-screen
/*   margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  @apply text-5xl
/*   font-size: 3.2em;
  line-height: 1.1; */
}

select {
  @apply focus:focus-visible:outline-4 border border-transparent rounded-lg py-2 px-5 font-medium bg-slate-900 cursor-pointer hover:border-[#646cff];
/*   border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(26, 26, 26);
  cursor: pointer; */
  transition: border-color 0.25s;
}
/* select:hover {
  border-color: #646cff;
} */
/* select:focus,
select:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
 */
@media (prefers-color-scheme: light) {
  :root {
    color: #fcfcfc;
    background-color: #ffffff;
  }
  a:hover {
    color: #f8e326;
  }
  select {
    background-color: #f9f9f9;
  }
}
